@import "../../styles/global.scss";

.category-tag {
    display: flex;
    align-items: center;
    background-color: $highlight;
    border-radius: 1rem;
    color: $white;
    font-size: 0.75rem;
    padding: 0.25rem 2rem 0.25rem 1rem;
    text-align: left;
    border: none;
    margin: 0 0.5rem 0.5rem 0;
    position: relative;
    transition: all 0.3s ease;

    img {
      position: absolute;
      right: 0.5rem;
      width: 1rem;
      height: 1rem;
    }

    @media (hover: hover) {
      &:hover {
        background-color: $grey;
      }
    }
  }