@import "../../styles/global.scss";

.search-header__container {
  background-color: $white;
  border-radius: 1rem;
  height: auto;
  min-height: 14rem;
  padding: 1rem 2rem 1rem 18rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0.1rem 0.3rem;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;

  @media (max-width: $break-medium) {
    padding: 1rem;
    height: auto;
    min-height: 6rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .search-header__input {
    width: 100%;

    @media (max-width: $break-medium) {
      display: none;
    }
  }

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0 0 2rem;
    line-height: 1;

    @media (max-width: $break-medium) {
      font-size: 1.5rem;
      margin: 0 0 0 6rem;
    }

    span {
      color: $highlight;
    }
  }

  .search-header__image {
    width: 16rem;
    height: auto;
    position: absolute;
    bottom: -23px;
    left: 0;
    z-index: 8;

    @media (max-width: $break-medium) {
      width: 6rem;
      position: absolute;
      left: 0;
      bottom: -8px;
    }
  }

  .search-header__bottom {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin: 1rem 0 0;

    @media (max-width: $break-medium) {
      display: none;
    }
  }
}
