@import "../../styles/global.scss";

.search__container {
  display: grid;
  grid-template-columns: 3fr 9fr;
  grid-gap: 2rem;
  padding: 2rem;
  max-width: $break-large;
  width: 100%;
  margin: 0 auto;

  @media (max-width: $break-medium) {
    padding: 1rem;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
  }

  .search__image {
    background-color: $white;
    border-radius: 1rem;
    height: 14rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.1rem 0.3rem;

    @media (max-width: $break-medium) {
      display: none;
    }

    img {
      position: absolute;
      bottom: -25px;
    }
  }

  .search-input--mobile {
    display: none;

    @media (max-width: $break-medium) {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      position: relative;
    }

    .search-input__button {
      aspect-ratio: 1;
      background-color: $highlight;
      border: none;
      border-radius: 2rem;
      width: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 0.5rem;
      position: absolute;
      left: 0.25rem;
      z-index: 9;
    }

    input.search-input {
      padding-left: 3.5rem;
    }
  }

  .search-input--desktop {
    display: none;

    @media (min-width: $break-medium) {
      display: block;
      width: 100%;
    }
  }

  ul {
    margin: 1rem 0 0;

    li {
      font-size: 0.875rem;
      margin: 0 0 1rem;
      display: flex;
      align-items: center;

      input {
        margin: 0 0.5rem 0 0;
      }
    }
  }

  .search-products__container {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;

    @media (max-width: $break-medium) {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }
}
